<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 section_white section_white_page">
	<h3>About Me</h3>
	<hr>
	<p>My name is Jack Seabolt. I am a web developer digital marketing strategist. I help my clients reach their full potential by providing them with customized, mobile-adjusted digital marketing materials. Whether you just need a simple static website or are interested in a full blown-web application, I can help you reach the people who will appreciate your business the most.
	<br /><br />
	<h3>Background</h3>
	<p>Having grown up next to Silicon Valley, I always had a deep interest in computers. However, I began my career in legal marketing. In 2011, I graduated from the University of Oregon with a B.A. in Advertising from the School of Journalism and Communications. Out of college, I got a position at a local law firm, working with information databases. Soon after, I worked as the Marketing Manager for a boutique estate planning law firm. This included organizing legal seminars to help drive new business and publicizing them by designing custom HTML newsletters and online advertisments. Over the next few years, I further developed my knowledge of code working with a second, larger law firm, this time managing the firm's website in addition to my regular marketing responsibilities. In 2016, I decided to leave my career in legal marketing to more fully pursue web development.</p>  
	<br />
	<h3>Areas of Expertise</h3>
	<p>I develop using the Ruby on Rails framework. I also regularly work with the following languages and technologies: HTML5, CSS3, Ruby, JavaScript, JQuery, SASS, Git, AWS, Bootstrap, SQL, Photoshop.
	</p>
	<%= image_tag "keyboard.jpg", class: 'body_image' %>
</div>