<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3 section_white section_white_page">
	<h3>About Me</h3>
	<hr>
	<p>My name is Jack Seabolt. I am a web developer and digital marketing strategist. I help my clients reach their full potential by providing them with customized, mobile-adjusted digital marketing materials. Whether you just need a simple static website or are interested in a full blown-web application, I can help you reach the people who will appreciate your business the most.
	<br /><br />
	<h3>Background</h3>
	<br />
	<p>In 2011, I graduated from the University of Oregon with a B.A. in Advertising. Soon after, I got a marketing position at a local law firm in San Francisco. As part of that job, I was put incharge of promoting the firm's legal seminar program. In an effort to be more effective, I decided to teach myself how to code HTML newsletters. At that point in my career, I already had extensive academic training with visual design tools like Photoshop and InDesign. The ability to make my layouts interactive I found infinitely fascinating. I became deeply interested in web design and computers, learning everything I could from books and online tutorials. Over the next few years, I started developing websites and web applications for friends in addition to the work I was doing for law firms. In 2016, I founded Seabolt Design.</p>  
	<br />
	<h3>Areas of Expertise</h3>
	<br />
	<p>I develop using the Ruby on Rails framework. I also regularly work with the following languages and technologies: HTML5, CSS3, Ruby, JavaScript, JQuery, SASS, Git, AWS, Bootstrap, SQL, Photoshop.
	</p>
	<%= image_tag "keyboard.jpg", class: 'body_image' %>
</div>