				<div class="col-sm-6 col-sm-push-3 col-xs-10 col-xs-push-1 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 section_white section_white_main">
					<a href="/pages/web">
						<div class='col-sm-12 col-md-4 home_containers'>
							<%= image_tag "web.png", class: 'circle_images' %> 
							<h3>Web Products</h3>
							<p class="circle_image_text">First impressions matter. Let's build a web platform for your business that will attract new customers and keep them coming back.</p>
						</div>
					</a>
					<a href="/pages/mobile">
						<div class='col-sm-12 col-md-4 home_containers'>
							<%= image_tag "mobilealt.png", class: 'circle_images' %>
							<h3>Mobile Design</h3>
							<p class="circle_image_text">A serious modern business needs to be able to reach customers on all platforms. Having a mobile-adjsuted website is essential.</p>
						</div>
					</a>
					<a href="pages/marketing">
						<div class='col-sm-12 col-md-4 home_containers'>
							<%= image_tag "marketing.png", class: 'circle_images' %>
							<h3>Marketing</h3>
							<p class="circle_image_text">You work hard for your business. Make your business work hard for you. Design a marketing plan to attract new customers. </p>
						</div>
					</a>
				</div>	