<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3 section_white section_white_page">
	<h3>Marketing</h3>
	<hr>
	<p>Most business owners know who their potential customers are. The difficulty arises in how to reach those people. Even great products can die on the drawing board if no one ever hears about them. Successful managers know that to attract new business, they must take the time to develop a thoughtful marketing plan. 
	<br /><br />
	When most people think of "marketing," they think it means advertsing. More and more this is not the case. In the modern era, tradional media channels are becoming less and less effective. Consider that the average modern consumer checks their cellphone over <span style="font-weight: bold;">80 times a day</span>, spending a <span style="font-weight: bold;">total of five hours</span> on average scrolling through social media and apps. If a marketing effort excludes these platforms, that business will have completely missed the opportunity to connect with a vast number of potential clients. To ignore the digital rhelm is to avoid where your potential customers can be most easily reached. 
	<br /><br />
	<h3>Strategy</h3>
	<br />
	When I work with companies, I use psychographics to help businesses target specific types of customers that are already looking for a products similar to what those businesses have to offer. Using social media, digital marketing tools and a few, well-chosen traditional media outlets, I can help you put your business in front of the right people so your company can thrive. Run entire advertising campaigns through Facebook or Twitter. Target specific age demographics and locations down to the zip code. Target only those customers that have expressed interest in similar products online. Cultivate reliable sources of new business like Yelp and ensure that the reviews people see of your business are ones that help you, not hurt you. With my help, we can harness your business's potential using digital resources to connect with new markets and stay in touch with your existing customers so they keep coming back.</p>
	<%= image_tag "marketing_image.jpg", class: 'body_image' %>
</div>