<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 section_white">
	<h3>Marketing</h3>
	<hr>
	<p>Most business owners know who their customers are. The difficulty is actually reaching those people and getting your products infront of them. Successful companies know that to do this, they must take the time to develop a thoughtful marketing plan. 
	<br /><br />
	When I work with companies, I use psychographics to help businesses target specific types of customers that are already looking for a products similar to what those businesses have to offer. Stop wasting your time and money on advertisements that no one sees. Using the digital marketing tools and a few, well-chosen traditional media outlets, I can help you put your business in front of the right people so your company can thrive. </p>
	<br />
</div>