<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 section_white section_white_page">
	<h3>Mobile Design</h3>
	<hr>
	<p>Did you know that 43% of consumers check thier mobile phones within five minutes of waking up? And according to Gallup, 72% of U.S. smartphone users check their phone at least hourly throughout their day after that. In fact, 52% of the American population reports checking their phone multiple times an <i>hour</i>. 
	<br /><br />
	These are numbers that should stop any intelligent marketer in his or her tracks. Although mobile media is a relatively new phenomenon, it has grown to dominate the modern marketplace. Amazon reported in 2015 that over <strong>70% of their holiday business</strong> was done through mobile devices. To reach customers effectively in the modern economy, a business must have a strong mobile presence.
	<br /><br />
	Run entire advertising campaigns through Facebook or Twitter. Target specific age demographics and locations down to the zip code. Target only those customers that have expressed interest in similar products online. Cultivate reliable sources of new business like Yelp and ensure that the reviews people see of your business are ones that help you, not hurt you. Social media can be a powerful tool. I can help you harness your business's potential by using your social media accounts to connect with new markets and stay in touch with your existing customers so they keep coming back.</p>
	</p>
	<%= image_tag "phone_image.jpg", class: 'body_image' %>
</div>