<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 section_white">
	<h3>Mobile Design</h3>
	<hr>
	<p>According to the Pew Research Center, 90% of young Americans use social media. 70% of Facebook users specifically report visiting the site every single day. In fact, the average American checks social media 14 times per 24-hour period. These are numbers that should stop any intelligent marketer in his or her tracks. Although social media is a relatively new phenomenon, it has grown to dominate the modern marketplace. From review sites like Yelp to Facebook and Twitter, any modern business needs to have a robust social media presence to compete in the new digital age. 
	<br /><br />
	Not sure where to start? Let Seabolt Marketing help! Run entire advertising campaigns through Facebook or Twitter. Target specific age demographics and locations down to the zip code. Target only those customers that have expressed interest in similar products online. Cultivate reliable sources of new business like Yelp and ensure that the reviews people see of your business are ones that help you, not hurt you. Social media can be a powerful tool. I can help you harness your business's potential by using your social media accounts to connect with new markets and stay in touch with your existing customers so they keep coming back.</p>
	</p>
	<br />
</div>