<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3 section_white section_white_page">
	<h3>Mobile Design</h3>
	<hr>
	<p>Did you know that 43% of consumers check their mobile phones within five minutes of waking up? And according to Gallup, 52% of American smartphone users check their phone phone multiple times an <i>hour</i> throughout their day. 
	<br /><br />
	These are numbers that should stop any intelligent marketer in his or her tracks. Although mobile media is a relatively new phenomenon, it has grown to dominate the modern marketplace. Amazon reported in 2015 that over <strong>70% of their holiday business</strong> was done through mobile devices. To reach customers effectively in the modern economy, a business must have a strong mobile presence.
	<br /><br />
	When I develop UIs, the first thing I consider is mobile display. Deciding how a site will adjust on a smartphone screen drives my entire process. Together, we can harness your business's potential with a mobile-friendly site that will help you connect with new markets and stay in touch with your existing customers so they keep coming back.</p>
	</p>
	<%= image_tag "phone_image.jpg", class: 'body_image' %>
</div>