<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 section_white">
	<h3>Portfolio</h3>
	<hr>
	<p>I design digital marketing products, websites and web applications for business of all sizes. Please take a moment to look at some of my previous work.</p>


</div>