<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 section_white section_white_page">
	<h3>Web Design</h3>
	<hr>
	<p>In today's modern marketplace, your website is your store front. Your company's online presence will be the first impression your customers get of your business, often before they even reach out to you. First impressions matter! In a world of Yelp and the Google search engine, your competitors are only a click away. 
	<br /><br />
	I design custom, mobile-adjusted websites that will give you the professional edge you need in the modern economy. Whether you just need a simple static page or are interested in one of my full-service site management packages, I can provide you with a beautiful online storefront that will blow away your competition and attract new customers.
	<br /><br />
	</p>
	<h3>Tools</h3>
	<p>I develop using the Ruby on Rails framework. I also regularly work with the following languages and technologies: HTML5, CSS3, Ruby, JavaScript, JQuery, SASS, Git, AWS, Bootstrap, SQL, Photoshop.
	</p>
	<%= image_tag "web_image.jpg", class: 'body_image' %>	
	<br />
</div>