<div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2 section_white">
	<h3>Web Design</h3>
	<hr>
	<p>In today's modern marketplace, your website is your store front. Your company's online presence will be the first impression your customers get of your business, often before they even reach out to you. First impressions matter! In a world of Yelp and the Google search engine, your competitors are only a click away. 
	<br /><br />
	I can help you make a great first impression. Whether you just need a simple website or are interested in one of my full-service site management packages, I can provide you with a beautiful online storefront that will blow away your competition and attract new customers.</p>
	<br />
</div>