/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Anton');
$placeholder: #313131;
$nav: black; 
$grey: #e9e9e9;

.btn_submit {
	color: white;
	background-color: #3d6ca1;
	padding: 10px 20px;
}
.btn_submit:hover {
	color: white;
	background-color: #3a5778;
}
body {
 	margin: 0px !important;
 	padding: 0px !important;
	background-color: white;
 }
.body_image {
	width: 400px;
	margin-top: 80px;
	margin-bottom: 40px;
	border: 1px solid black;
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
}
.circle_images {
 	width: 170px;
 	padding-top: 10px;
 	padding-bottom: 10px;
}
.circle_image_text {
 	width: 80%;
 	margin-left: auto;
 	margin-right: auto;
 	color: black; 
}
#contact_section {
 	background-color: #343747;
 	padding-top: 60px;
 	padding-bottom: 90px;
 	h3 {
 		color: white;
 	}
 	p {
 		color: $grey;
 	}
}
.dot {
 	font-size: 9px !important;
 	position: relative;
 	top: -3px;
}
.footer {
 	background-color: black;
 	h3 {
 		color: white;
 	}
 	p {
 		color: $grey;
 	}
}
.footer_contact {
 	margin-top: 60px;
 	margin-bottom: 60px;
 	text-align: center;
}
.footer_link_block {
 	line-height: 24px !important; 
}
.footer_links {
 	font-size: 16px;
 	line-height: 24px !important; 
}
.footer_links:hover {
 	text-decoration: none;
}
.footer_text {
 	color: grey !important;
}
.home_containers {
 	background-color: none;
 	text-align: center;
 	margin-bottom: 30px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.nav_item {
	margin-left: 23px;
	margin-right: 23px;
	font-size: 16px;
	color: white !important; 
}
.navbar {
	padding: 10px; 
	position: fixed;
	z-index: 5;
	top: 0px;
	width: 100%;
	box-shadow: 0px 0px 5px black;
	.icon-bar {
		background: white !important; 
	}
}
.navbar_placeholder {
	width: 100%;
	height: 70px;
	background-color: none;
}
nav {
 	border: $nav !important; 
	border-radius: 0px !important; 
	background-color: $nav  !important;
	a {
		background-color: $nav  !important;
	} 
	.collapsed {
		border: 1px solid $nav  !important;
	}
	.collapsed:hover {
		background: $nav !important;
	}
}
.nav_search {
	margin-left: 40px !important;
}
.portfolio {
	width: 100%;
	margin-bottom: 30px;
}
.portfolio:hover {
	opacity: 0.9;
}
.portfolio_caption {
	color: #4f4f4f;
}
.portfolio_title {
	margin-bottom: 60px;
}
#section_1 {
 	background-color: none;
 	height: 500px;
 	position: absolute;
 	top: 0px;
 	width: 100%;
 	z-index: 3;
 	padding: 0px !important;
 	text-align: center;
}
#section_1_cover {
 	background-color: #1f2140;
 	opacity: 0.4;
 	height: 500px;
 	position: absolute;
 	top: 0px;
 	width: 100%;
}
#section_1_background {
 	width: 100%;
 	height: 500px;
 	position: relative;
 	pointer-events: none; 
 	text-align: center;
}
#section_1_image {
	width: 100%;
}
/*#section_1_video {
	width: 100%;
	display:none;
}

.placeholder {
	background-color: #1f2140;
	background-image: url(http://i.giphy.com/7aADy6NmlIdXi.gif);
	color: red;
	background-color: orange;
}*/
#section_2 {
 	background-color: white;
 	position: absolute;
 	width: 100%;
}
.section_white {
 	background-color: white;
 	margin-top: 0px;
 	a:hover {
 		text-decoration: none !important;
 	}
 	h3 {
 		color: #323752 !important;
 	}
}
.section_white_main {
 		margin-top: 70px; 
 		background:white;
 		margin-bottom: 50px;
	}
.section_white_page {
 		margin-top: 50px;
 		background: white;
 		margin-bottom: 50px;
	}
#title {
 	color: white;
 	font-size: 105px;
 	font-family: 'Anton', sans-serif;
 	margin-top: 240px;
 	font-weight: bold;
 	position: relative; 
}
#title_sub_container {
 	margin-top: 0px !important;
 	padding-top: 0px !important;
 	position: relative;
 	top: 45px;
}
#title_sub {
 	color: white;
 	font-size: 22px;
 	margin-top: 0px;
 	position: relative; 
 }


 @media screen and (min-width:1200px) {
 	.nav_item {
		margin-left: 35px;
		margin-right: 35px;
	}
 }
 @media screen and (max-width:991px){
 	#section_2 {
	 	top: 400px;
 	}
	.section_white_page {
 		margin-top: 45px;
	}
 	#title {
	 	margin-top: 200px;
	 	font-size: 90px;
	 	margin-bottom: 0px;
	}
	#title_sub_container {
	 	margin-top: 0px !important;
	 	padding-top: 0px !important;
	 	position: relative;
	 	top: 45px;
	}
	#title_sub {
	 	color: white;
	 	font-size: 19px;
	 	margin-top: 0px;
	 	position: relative;
	 }
 }
 @media screen and (max-width: 800px) {
 	.body_image {
		width: 70%;
	}
 	.circle_images {
	 	padding-left: 0px;
 		padding-right: 0px;
	}
	.circle_image_text {
	 	margin-bottom: 40px !important;
	}
 	.dot {
	 	font-size: 7px !important;
	 	position: relative;
	 	top: -3px;
	}
	.portfolio_title {
		margin-bottom: 30px;
	}
 	#section_2 {
	 	top: 295px;
 	}
 	#section_1_background {
	 	background-position: center;
	 	background-size: cover;
	 	height: 300px;
	 	overflow: hidden;
	 	background-image: url(https://i.imgflip.com/1jkpke.gif);
	}
	.section_white_page {
 		margin-top: 45px;
	}
	/*#section_1_video {
		display:none;
	}*/
	#title {
	 	margin-top: 160px;
	 	font-size: 60px;
	 	margin-bottom: 7px;
	}
	#title_sub_container {
 		top: 20px;
 	}
	#title_sub {
	 	font-size: 14px;
	 	top: 0px;
	}
 }
 @media screen and (max-width: 460px) {	
	.body_image {
		width: 100%;
		margin-top: 60px;
	}
	.circle_images {
	 	width: 170px;
	 	padding-top: 10px;
	 	padding-bottom: 10px;
	}
	#section_1_image {
		width: 130%;
	}
	#section_2 {
	 	top: 298px;
 	}
	.section_white_page {
 		margin-top: 35px;
	}
	#title {
	 	margin-top: 160px;
	 	font-size: 43px;
	}
	#title_sub_container {
 		top: 12px;
 	}
 }	